/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, .jumbotron h1 {
  font-family: 'Hind', courier, sans-serif;
  letter-spacing: 1px;
}

ul.nav {
  font-size: 13px;
}

.navbar-inverse {
  background-color: white;
  border-color: white;
}

.navbar-inverse .navbar-nav>li>a .fa {
  color: white;
}

.jumbotron {
  text-align: center;
  background-image: url('../images/as_pic.jpg');
  background-size: cover;
}

.jumbotron h1 {
  font-weight: 800;
  color: black;
  text-align: right;
  padding-top: 100px;
}

.btn-lg {
  font-size: 30px;
  margin-top: 50px;
  background-color: #373533;
  color: #fff;
}

